/*

Project : ALC-7DaysChallenge - CurrencyConverterApp;
Submitted By: Chibueze, Samuel Eleanya;
Slack Handle: @LightworthNG;

*/

*{
	box-sizing: border-box;
	font-family: heveltica, verdana, sans-serif ;
}
header{
	background: #32548f ;
	color: #f2f2f2 ;
	padding: 10px 20px ;
	margin: auto;
}
form{
	padding: 20px ;
	width: 50% ;
	margin: 10px auto ;
	border-radius: 10px ;
	box-shadow: 0 0 1px #222 ;
	border : 1px solid #745;
}

form select {
	width: 100% ;
	min-height: 35px ;
	outline: none ;
	margin-bottom: 10px ; 
}
form input[type='text']{
	width: 100% ;
	min-height: 35px ;
	outline: none ;
	margin-bottom: 10px ; 
}

form button{
	color: #f9f9f9 ;
	background: #676 ;
	padding: 10px 15px ;
	margin : 20px auto;
	text-align: center;
	font-size: 18px ;
	font-weight: 300 ;
	width: 40% ;
	display: block;
}
form button:hover{
	color:  #676 ;
	background: #f9f9f9 ;
	border: 1px solid #676 ;
	cursor: pointer;
}

form #result{
	margin: auto;
	text-align: center;
	width: 60% ;
	padding: 10px 15px ;
	min-height: 35px ;
	color: #f7f7f7 ;
	background: #555 ;
	border-radius: 4px ;
	box-shadow: 1px 1px 4px #777 ;
}